.hide {
  display: none;
}

*, *::before, *::after {
    box-sizing: border-box;
    font-family: Courier, Arial, Helvetica, sans-serif;
  }

  body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #FFE4C4;

  }

  @media only screen and (max-width: 768px) {
    body{
        flex-direction: column;
        gap: 10px;
        
      }

      .btn {
        padding: 10px 20px; 
        font-size: 14px; 
      }
  }

/* header styling */
  #header{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 10px;
    padding: 10px;
    margin: 0;
  }

  @media only screen and (max-width: 768px) {
    #header {
      padding: 5px;
      margin-top: 1px;
    }
  }

/* intro flex styling */

  .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .how-to-play, .begin{
    border: 1px solid;
    width: 300px;
    height: 200px;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 24px;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    max-width:100%;
  }

  .how-to-play:hover, .begin:hover{
    transform: translateY(-3px);
    transition: 500ms ease all;
    cursor: pointer;
  }

  #how-to-content{
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 24px;
    color: black;
  }

  .how-to-play + .how-to-play {
    display: none;
  }
  
  .how-to-play:hover + .how-to-play {
    display: block;
    text-align: center ;
  }
  

@media only screen and (max-width: 768px) {
    .wrapper{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        
      }
  }



  a:link, a:visited {
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  button:hover {
    cursor: pointer;
  }  
  
/* question and button styling */

.container {
  width: 800px;
  max-width: 90%;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

@media only screen and (max-width: 768px) {
  .btn-grid {
    grid-template-columns: 1fr;
  }
}

.btn {
  border-radius: 5px;
  padding: 15px 30px;
  color: black;
  outline: none;
  font-size: 16px;
}

@media only screen and (max-width: 768px) {
  .btn {
    padding: 10px 20px; 
    font-size: 14px; 
  }
}

.correct{
  background-color: #68ed8a;
}

.wrong{
  background-color: #e3496a;
}

.start-btn, .next-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;

}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}


#score-container{
  justify-content: flex-end;
  flex-direction: column;
  border: solid 1px black;
  margin-left: 100px;
  background-color: aliceblue;
  border-radius: 24px;
}

#score-container p{
  padding: 10px;
}

#timer{
  justify-content: flex-end;
  flex-direction: column;
  border: solid 1px black;
  margin-right: 100px;
  padding: 50px;
  background-color: aliceblue;
  border-radius: 24px;
}

#question{
  font-size: 20px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  #question {
    font-size: 18px;
  }
  #score-container,
  #timer {
    margin: 0;
    padding: 25px; 
  }
}



/* game over container  */

.game-over{
  border: solid 1px black;
  background-color: aliceblue;
  border-radius: 24px;
  text-align: center;
  padding: 5px;
}


#final-score-container{
    background-color: aliceblue;
    position:absolute;
    margin-bottom: 200px;
    border: 2px solid black;
    padding: 50px;
    border-radius: 24px;

}

@media only screen and (max-width: 768px) {
  .btn {
    padding: 10px 20px; 
    font-size: 14px; 
  }
}



/* question and button styling */

.info-container{
  position: absolute; 
  bottom:1px; 
  left: 1px;
  display: flex;
  padding: 10px;
}



#info{
  width: 100px;
}


#info-hide{
  font-size: 12px;
  background-color: aliceblue;
  border: 1px solid black;
  text-align: center;
  position: absolute;
  border-radius: 24px;
}

#info-hide p{
  padding: 10px;
}

#here404 {
  color: black;
  text-transform: uppercase;
}