*, *::before, *::after {
    box-sizing: border-box;
    font-family: Courier, Arial, Helvetica, sans-serif;
  }

  body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #FFE4C4;

  }

/* header styling */
  #header{
    position: absolute;
    top: 50px;
  }

/* intro flex styling */

  .wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;

  }

  .how-to-play, .begin{
    border: 1px solid;
    width: 500px;
    height: 400px;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 24px;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);

    &:hover{
        transform: translateY(-3px);
        transition: 500ms ease all;
        cursor: pointer;

    }
  }

.wrapper h2{
    margin-top: 150px;
}

@media only screen and (max-width: 768px) {
    .wrapper{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        border: 1px solid;
      }
  }



  a:link, a:visited {
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
